.projects-container {
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    text-align: left;
    overflow: hidden;
}

.projects-container .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.projects-container .projects-grid .project {
    text-align: left;
    @media (max-width: 576px) {
        padding: 20px 0;
    }

    .link {
        position: relative;
    }
}

.projects-container .projects-grid .project .status {
    position: absolute;
    bottom: 14px;
    left: 10px;
    padding: 4px 8px;
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    font-weight: 500;
    font-size: 14px;
    padding-left: 18px;
}

.projects-container .projects-grid .project .status::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
}

.projects-container .projects-grid .project .status.ongoing {
    color: #5000ca;
}

.projects-container .projects-grid .project .status.completed {
    color: green;
}

.projects-container .projects-grid .project .status.ongoing::before {
    background-color: #5000ca;

}

.projects-container .projects-grid .project .status.completed::before {
    background-color: green;
}



.project h2:hover {
    text-decoration: underline;
    transition: color .5s ease-in-out, background-color .5s ease-in-out, border-color .5s ease-in-out;
}

.zoom {
    border-radius: 5px;
    transition: transform .5s;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.02);
}

@media screen {
    @media (max-width: 700px) {
        .projects-container {
            display: block;
            padding-left: 5%;
            padding-right: 5%;
        }

        .projects-container .projects-grid {
            display: block;
        }

        .projects-container .projects-grid .project {
            padding-bottom: 5%;
        }
    }
}